.fundraiser,
.fundraiser-skeleton {
  padding-bottom: var(--size-xl);
  display: flex;
  flex-direction: column;
  gap: var(--size-sm);
}

.fundraiser:not(:first-of-type),
.fundraiser-skeleton:not(:first-of-type) {
  padding-top: var(--size-xl);
}

.fundraiser {
  border-bottom: 1px solid var(--on-bg);
}

.fundraiser-skeleton {
  border-bottom: 1px solid var(--on-bg25);
}

.fundraiser h3 {
  font-size: var(--text-lg);
}

.no-fundraisers {
  font: var(--default-font);
  text-transform: none;
  background-color: var(--warning-light);
  padding: var(--size-lg);
  border-radius: var(--rounding);
  border: 1px solid var(--warning);
  color: var(--warning);
}
