.notifications {
  position: fixed;
  inset: 0;
  bottom: unset;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-lg);
  padding: var(--size-lg);
}

.notification {
  background-color: var(--warning-light);
  border-left: 6px solid var(--warning);
  color: var(--warning);
  padding: var(--size-lg);
  border-radius: var(--size-sm);
  width: 350px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-md);
  box-shadow: var(--shadow-sm);
  view-transition-class: notification;
}

.notification--error {
  background-color: var(--negative-light);
  color: var(--negative);
  border-color: var(--negative);
}

.notification--success {
  background-color: var(--positive-light);
  color: var(--positive);
  border-color: var(--positive);
}

.notification span {
  color: inherit;
}

.notification__inner {
  display: flex;
  gap: var(--size-sm);
}

.notification__inner svg {
  min-width: 1em;
  min-height: 1.2em;
}

.notification__text {
  display: flex;
  flex-direction: column;
  gap: var(--size-sm);
}

.text {
  font-weight: 500;
  line-height: 1.2em;
}

.subtext {
  font-size: var(--text-sm);
}

.notification__close {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
}

::view-transition-group(notification-1) {
  animation-timing-function: linear;
  animation-duration: 2s;
}
/* 
html::view-transition-group(.notification)::view-transition-old {
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
} */
