.link {
  overflow: hidden;
}

.link-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  color: inherit;
  font-size: inherit;
  height: 1em;
  line-height: 1em;
  gap: 100%;
  transition: transform var(--transition-short);
  white-space: nowrap;
}

.link-inner:not([aria-disabled=true])::before {
  content: attr(data-text);
}

.link:not([aria-disabled=true]):hover .link-inner {
  transform: translateY(calc(-1 * (100% + 1em)));
}