.link {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-sm);
}

.link:focus-visible {
  outline: 2px auto var(--primary);
  outline-offset: 3px;
}

.link--primary, .link--secondary {
  border-radius: var(--rounding);
  font-family: var(--title-font);
  text-transform: uppercase;
  font-weight: 600;
  transition: var(--transition-short);
  width: fit-content;
}

.link--medium {
  padding: 0 var(--size-2xl);
  height: var(--control-height-medium);
  font-size: var(--text-md);
}

.link--large {
  padding: 0 var(--size-2xl);
  height: var(--control-height-large);
  font-size: var(--text-lg);
}

.link--primary {
  background-color: var(--primary);
  color: var(--secondary);
}

.link--primary:hover {
  color: white;
}

.link--secondary {
  background-color: var(--secondary);
  color: var(--primary);
}

.link--secondary:hover {
  color: var(--primary);
}

.link--primary[aria-disabled=true], 
.link--secondary[aria-disabled=true] {
  background-color: var(--on-bg10);
  color: var(--on-bg50);
  cursor: default;
}

.link--loading {
  opacity: 0.75;
  cursor: default;
}

.link--full-width {
  width: 100%;
}

.link__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  color: inherit;
  font-size: inherit;
  height: 1em;
  line-height: 1em;
  gap: 100%;
  transition: transform var(--transition-short);
  white-space: nowrap;
}

.link__inner:not([aria-disabled=true])::before {
  content: attr(data-text);
}

.link:not([aria-disabled=true]):hover .link__inner {
  transform: translateY(calc(-1 * (100% + 1em)));
}