.table-item {
  font-size: var(--text-sm);
}

.table-item--ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table-item--link {
  --hover-circle-scale: 2;
  font-size: var(--text-md);
  position: relative;
}

.table-item--link::after {
  content: '';
  position: absolute;
  inset: 0;
  scale: 2;
}

.add-button {
  margin-top: var(--size-xl);
}

.preview {
  display: flex;
  flex-direction: column;
  gap: var(--size-xl);
}

.preview__title {
  font-size: var(--text-lg);
  color: var(--label);
  margin-top: var(--size-xl);
  padding-bottom: var(--size-lg);
  border-bottom: 1px solid var(--border);
}

.date-pill {
  height: 24px;
  line-height: 24px;
  padding-inline: var(--size-lg);
  border-radius: 999px;
  font-size: var(--text-sm);
}

.date-pill--active {
  background-color: var(--positive);
  color: var(--positive-light)
}

.date-pill--hidden {
  background-color: var(--disabled-light);
  color: var(--label);
}
