.member-drawer {
  display: flex;
  flex-direction: column;
  gap: var(--size-xl);
}

.preview {
  display: flex;
  flex-direction: column;
  gap: var(--size-md);
}

.preview__title {
  font-size: var(--text-lg);
  color: var(--label);
  margin-top: var(--size-xl);
}

.member-drawer__actions {
  display: flex;
  gap: var(--size-lg);
  padding: var(--size-xl);
  border-top: 1px solid var(--border);
}

.add-member {
  margin-top: var(--size-xl);
}

.member__name {
  color: var(--on-bg);
}

.member__year {
  text-transform: capitalize;
  font-size: var(--text-sm);
  color: var(--on-bg);
}

.member__role {
  font-size: var(--text-sm);
  line-height: 20px;
  white-space: nowrap;
}

.member__role:not(.member__role--none) {
  color: var(--role-text-color);
  background-color: var(--role-bg-color);
  height: 20px;
  padding: 0 8px;
  border-radius: 999px;
}

.member__role--none {
  color: var(--unselected);
}

.uploaded-checkmark {
  width: 16px;
  height: 16px;
  border-radius: 999px;
  background-color: var(--positive);
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploaded-checkmark svg {
  color: white;
  width: 12px;
  height: 12px;
}
