.tournament, .tournament-skeleton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-sm);
  gap: var(--size-sm);
  padding-bottom: var(--size-xl);
  width: 100%;
}

.tournament {
  border-bottom: 1px solid var(--on-bg);
}

.tournament h3 {
  margin-bottom: var(--size-sm);
}

@media (width > 656px) {
  .tournament, .tournament-skeleton {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .tournament h3 {
    margin-bottom: 0;
  }
}

.tournament:not(:first-of-type), 
.tournament-skeleton:not(:first-of-type) {
  padding-top: var(--size-xl);
}

.tournament h3 {
  font-size: var(--text-lg);
  display: flex;
  align-items: center;
  gap: var(--size-md);
}

.tournament a {
  text-align: right;
}

.tournament-skeleton {
  border-bottom: 1px solid var(--on-bg10);
}

.skeleton-title {
  display: flex;
  flex-direction: column;
  gap: var(--size-sm);
}

.place {
  padding: var(--size-xs) var(--size-md);
  border-radius: 999px;
  font-size: var(--text-sm);
  white-space: nowrap;
  display: block;
  width: fit-content;
  font-family: var(--title-font);
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 6px;
}

.p1 {
  background-color: #ffbf00;
}

.p1::after {
  content: 'First place';
}

.p2 {
  background-color: #cccccc;
}

.p2::after {
  content: 'Runner up';
}

.p3 {
  background-color: #c95e00;
  color: white;
}

.p3::after {
  content: 'Third place';
}