#footer {
  background-color: var(--footer-color);
}

#footer a {
  color: white;
}

#top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff4;
  padding: 40px 0;
}

#top img {
  height: auto;
  width: min(25%, 250px);
}

#links {
  display: flex;
  gap: 60px;
}

#links h6 {
  text-transform: uppercase;
  color: var(--text-color-light);
  margin-bottom: 20px;
  font-size: 1rem;
}

#links ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#links li {
  display: block;
}

#bottom {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

#bottomText {
  display: flex;
  gap: 25px;
}

#bottomText span {
  color: var(--text-color-light);
}

#socials {
  display: flex;
  gap: 10px;
}

#socials svg {
  font-size: 1.5rem;
}

@media (width < 500px) {
  #footer {
    text-align: center;
  }

  #top, #bottom, #bottomText {
    flex-direction: column;
  }

  #links {
    flex-direction: column;
    gap: 40px;
  }

  #top img {
    height: 100px;
    width: auto;
    margin-bottom: 40px;
  }
}