.table {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.table__header {
  border-bottom: 1px solid var(--border);
}

.table__header--selected {
  background-color: var(--selected);
  border-color: var(--selected-border);
}

.items-selected {
  color: var(--primary);
  font-weight: 600;
}

.table__header,
.table__row {
  display: flex;
  gap: 8px;
}

.table__row--striped {
  background-color: var(--striping);
}

.table__row--selected {
  background-color: var(--selected);
}

.table__row--selected.table__row--striped {
  background-color: var(--striping-selected);
}

.header-item,
.item {
  min-height: 36px;
  display: flex;
  align-items: center;
  overflow: auto;
  scrollbar-width: thin;
}

.header-item:first-of-type,
.item:first-of-type {
  padding-left: 8px;
}

.header-item:last-of-type,
.item:last-of-type {
  padding-right: 8px;
}

.header-item {
  gap: 4px;
}

.header-item__sort {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-item__sort:hover,
.header-item__sort:focus-visible {
  --sort-icon-color: var(--primary);
}

.header-item__sort svg {
  color: var(--sort-icon-color, var(--unselected));
  transition: color var(--transition-short);
}

.header-item__sort--sorted {
  --sort-icon-color: var(--on-bg);
}

.checkbox {
  --hover-circle-scale: 2;
}

.header-actions {
  margin-left: auto;
  gap: 8px;
}