@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&display=swap');
@import url('/fonts/Clash Display/clash-display.css');

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  --primaryRGB: 0, 53, 148;
  --primary: rgb(var(--primaryRGB));
  --primary10: rgba(var(--primaryRGB), 0.1);
  --primary25: rgba(var(--primaryRGB), 0.25);
  --primary50: rgba(var(--primaryRGB), 0.5);
  --primary75: rgba(var(--primaryRGB), 0.75);

  --secondaryRGB: 203, 222, 255;
  --secondary: rgb(var(--secondaryRGB));
  --secondary10: rgb(var(--secondaryRGB), 0.1);
  --secondary25: rgb(var(--secondaryRGB), 0.25);
  --secondary50: rgba(var(--secondaryRGB), 0.5);
  --secondary75: rgba(var(--secondaryRGB), 0.75);

  --accentRGB: 255, 184, 28;
  --accent: rgb(var(--accentRGB));
  --accent10: rgb(var(--accentRGB), 0.1);
  --accent25: rgb(var(--accentRGB), 0.25);
  --accent50: rgba(var(--accentRGB), 0.5);
  --accent75: rgba(var(--accentRGB), 0.75);

  --on-bg: rgb(var(--on-bgRGB));
  --on-bg10: rgba(var(--on-bgRGB), 0.1);
  --on-bg25: rgba(var(--on-bgRGB), 0.25);
  --on-bg50: rgba(var(--on-bgRGB), 0.5);
  --on-bg75: rgba(var(--on-bgRGB), 0.75);

  --label: #636363;
  --border: #cecece;
  --striping: #f5f5f5;
  --selected: #E3EDFF;
  --selected-hover: #D1E1FF;
  --selected-border: #a4c3f8;
  --unselected: #a5a5a5;
  --hovered: #e1ecff;
  --positive: #07a304;
  --positive-light: #adfbab;
  --negative: #da2424;
  --negative-light: #ffe7e7;
  --warning: #cd9300;
  --warning-light: #ffe9b0;
  --button-ghost: #f1f2f4;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-3xl: 2.25rem;
  --text-4xl: 3rem;

  --size-xs: 2px;
  --size-sm: 4px;
  --size-md: 8px;
  --size-lg: 12px;
  --size-xl: 16px;
  --size-2xl: 24px;
  --size-3xl: 40px;
  --size-4xl: 64px;
  --size-5xl: 128px;

  --section-gap: 96px;
  --page-vert-pad: var(--size-2xl);
  --rounding: var(--size-md);
  --rounding-small: 3px;

  --control-height-small: 28px;
  --control-height-medium: 40px;
  --control-height-large: 48px;

  --transition-timing: cubic-bezier(0.19, 1, 0.22, 1);
  --transition-short: 0.25s var(--transition-timing);
  --transition-med: 0.5s var(--transition-timing);
  --transition-long: 1s var(--transition-timing);
  --transition-xlong: 2s var(--transition-timing);

  --shadow-color: rgba(0, 0, 0, 0.12);
  --shadow-sm: 1px 2px 6px var(--shadow-color);
  --shadow-md: 2px 3px 10px var(--shadow-color);
  --shadow-lg: 4px 4px 14px var(--shadow-color);
  --shadow-xl: 4px 6px 18px var(--shadow-color);

  --title-font: 'ClashDisplay-Variable', system-ui, sans-serif;
  --default-font: "Public Sans", system-ui, sans-serif;

  font-family: var(--default-font);
}

/* body[theme='dark'] {
  --bg: #151515;
  --on-bgRGB: 255, 255, 255;
} */

body[theme='dark'], body[theme='light'] {
  --bg: white;
  --on-bgRGB: 0, 0, 0;
}

@media (width > 600px) {
  body {
    --text-lg: 1.5rem;
    --text-xl: 2rem;
    --text-2xl: 2.5rem;
    --text-3xl: 3.5rem;
    --text-4xl: 4.5rem;
  }
}

body {
  margin: 0;
  background-color: var(--bg);
}

p, span, li, td, code, label {
  color: var(--on-bg75);
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
  text-transform: uppercase;
  font-weight: 600;
  line-height: 0.8em;
}

h1, h2, h3, h4, h5, h6, th, button, input, textarea, select {
  color: var(--on-bg);
}

p, span, li, td, code, button, input, textarea {
  font-size: var(--text-md);
}

h1 {
  font-size: var(--text-4xl);
}

h2 {
  font-size: var(--text-3xl);
}

h3 {
  font-size: var(--text-2xl);
}

h4 {
  font-size: var(--text-xl);
}

h5 {
  font-size: var(--text-lg);
}

h6 {
  font-size: var(--text-md);
}

button {
  outline: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: 1px auto var(--on-bg);
}

button:disabled,
button[aria-disabled="true"] {
  cursor: default;
}

input, textarea, select {
  display: block;
  outline: none;
  padding: var(--size-sm);
  background: none;
  font-family: inherit;
}

select > option {
  color: black;
}

a {
  text-decoration: none;
  color: var(--primary);
  display: flex;
  align-items: center;
  gap: var(--size-sm);
  transition: color var(--transition-short);
}

a:hover {
  color: var(--primary75);
}

a.inline {
  display: inline-block;
  position: relative;
}

a.inline::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--primary);
  position: absolute;
  left: 0;
  bottom: -0.1em;
}

a.inline:hover::after {
  background-color: var(--primary75);
}

hr {
  border: 1px solid var(--on-bg50);
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: block;
}

section {
  margin-bottom: var(--section-gap);
}

section:first-of-type:not(.hero) {
  margin-top: var(--section-gap);
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

[type="number"] {
  -moz-appearance: textfield;
}

[type="number"]::-webkit-outer-spin-button,
[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.split {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1140px;
}

.no-overflow {
  overflow: hidden;
}

.fade-in, .hero-fade-in {
  opacity: 0;
}

.two-cols {
  display: flex;
  flex-direction: column;
  gap: var(--size-2xl);
}

.two-cols > .content {
  max-width: 600px;
}

.two-cols > .content {
  display: flex;
  flex-direction: column;
  gap: var(--size-2xl);
}

.content h5 {
  margin-bottom: var(--size-sm);
}

.content p:not(:last-of-type) {
  margin-bottom: var(--size-lg);
}

@media (width > 768px) {
  .two-cols {
    flex-direction: row;
    gap: var(--size-3xl);
  }

  .two-cols .title {
    max-width: 350px;
    min-width: 350px;
  }

  .two-cols > .content {
    max-width: unset;
    width: 100%;
  }
}

@media (width > 1024px) {
  .two-cols .title {
    min-width: 500px;
    max-width: 500px;
  }
}

.error {
  color: var(--negative);
}

.with-hover-circle {
  position: relative;
  z-index: 0;
}

.with-hover-circle::before {
  content: "";
  border-radius: 999px;
  position: absolute;
  inset: 0;
  aspect-ratio: 1;
  z-index: -1;
  scale: var(--hover-circle-start-scale, 0.5);
  background-color: var(--primary);
  opacity: 0;
  pointer-events: none;
  transition: 
    opacity var(--transition-short),
    scale var(--transition-short);
}

.with-hover-circle:focus-visible,
.with-hover-circle:focus-within {
  outline: none;
}

.with-hover-circle:hover::before,
.with-hover-circle:focus-visible::before,
.with-hover-circle:focus-within::before {
  scale: var(--hover-circle-scale, 1.125);
  opacity: 0.15;
  color: var(--primary);
}

.with-hover-circle:hover *,
.with-hover-circle:focus-visible *,
.with-hover-circle:focus-within * {
  transition: color var(--transition-short);
  color: var(--primary);
}

[role="checkbox"] {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  border: 1px solid var(--label);
  cursor: pointer;
  position: relative;
}

[role="checkbox"][aria-checked="true"],
[role="checkbox"][aria-checked="mixed"] {
  background-color: var(--primary);
  border-color: var(--primary);
}

[role="checkbox"][aria-checked="true"]::after {
  content: "";
  width: 4px;
  height: 8px;
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: var(--bg);
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%) rotate(45deg);
}

[role="checkbox"][aria-checked="mixed"]::after {
  content: "";
  width: 8px;
  height: 2px;
  background-color: var(--bg);
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px;  
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}