@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Rubik', 'Roboto', sans-serif;
  scroll-behavior: smooth;

  --blue: #003594;
  --yellow: #FFB81C;
  --sky-blue: #71C5E8;
  --text-color-dark: rgba(0, 0, 0, 0.75);
  --text-color-light: rgba(255, 255, 255, 0.75);
  --line-color: #ddd;
  --card-color: #f0f0f0;
  --anchor-color: #305fdf;
  --footer-color: #001334;

  --xxl-text: 5rem;
  --xl-text: 4rem;
  --l-text: 3rem;
  --ml-text: 1.5rem;
  --m-text: 1rem;
  --s-text: 0.75rem;

  --transition: 0.2s cubic-bezier(0.19, 0, 0.22, 1);
  --transition-mid: 0.5s cubic-bezier(0.19, 0, 0.22, 1);
  --transition-long: 1.25s cubic-bezier(0.19, 0, 0.22, 1);

  --header-size: 75px;
  --container-padding: 40px;

  --shadow: 4px 4px 16px rgba(0, 0, 0, 0.15);
}

@media (width < 900px) {
  body {
    --xxl-text: 4rem;
    --xl-text: 3rem;
    --l-text: 2rem;
    --ml-text: 1.25rem;
    --m-text: 1rem;
    --s-text: 0.75rem;

    --container-padding: 20px;
  }
}

@media (width < 400px) {
  body {
    --xxl-text: 3.25rem;
    --xl-text: 2.5rem;
    --l-text: 2rem;
    --ml-text: 1.25rem;
    --m-text: 1rem;
    --s-text: 0.75rem;
  }
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: var(--anchor-color);
}

a:hover {
  text-decoration: underline;
}

a svg {
  font-size: 0.8em;
  margin-left: 0.2em;
}

p {
  margin: 0;
}

p, span {
  color: var(--text-color-dark);
}

h1, h3, h4, h5, h6 {
  line-height: 1em;
  margin: 0;
}

h1 {
  font-size: var(--xxl-text);
}

h2 {
  font-size: var(--xl-text);
  margin: 0 0 0.2em 0;
}

h3 {
  font-size: var(--l-text);
}

h4, h5, h6 {
  font-size: var(--ml-text);
}

#page {
  padding-top: var(--header-size);
}

#page-title {
  margin-top: 60px;
  margin-bottom: 60px;
}

#page-title h1 {
  color: var(--blue);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.section {
  margin-bottom: 60px;
}

.primary-button, .secondary-button {
  position: relative;
  overflow: hidden;
}

.primary-button:hover, .secondary-button:hover {
  text-decoration: none;
}

.primary-button {
  background-color: var(--yellow);
  color: black;
  padding: 14px 20px;
}

.primary-button::after, .secondary-button::after {
  content: "";
  width: 0;
  aspect-ratio: 1;
  border-radius: 999px;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  transition: var(--transition);
}

.primary-button::after {
  background-color: rgba(255, 255, 255, 0.2);
}

.secondary-button::after {
  background-color: var(--sky-blue);
  z-index: -1;
}

.secondary-button:hover {
  color: black;
  border-color: var(--sky-blue);
}

.primary-button:hover::after, .secondary-button:hover::after {
  width: 125%;
}

.secondary-button {
  background: transparent;
  border: 3px solid var(--yellow);
  color: var(--yellow);
  padding: 11.5px 20px;
  transition: color var(--transition), border-color var(--transition);
}
