.admin-page-title {
  font-size: var(--text-xl);
  margin-top: var(--size-2xl);
  margin-bottom: var(--size-xl);
}

.drawer-form {
  display: flex;
  flex-direction: column;
  gap: var(--size-xl);
}

.drawer-actions {
  display: flex;
  gap: var(--size-lg);
  padding: var(--size-xl);
  border-top: 1px solid var(--border);
}
