#loader {
  height: 100vh;
  max-height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  height: 100vh;
  max-height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 320px;
  margin: auto;
}

#login img {
  max-width: 100%;
  max-height: 125px;
  margin-bottom: var(--size-2xl);
}

#login-form {
  display: flex;
  flex-direction: column;
  gap: var(--size-lg);
  width: 100%;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: var(--size-sm);
}

.form-section label {
  font-size: var(--text-sm);
  color: var(--on-bg50);
}

#login-form input, #login-form button {
  height: 2.5rem;
  width: 100%;
}

#login-form input {
  border: none;
  outline: none;
  padding: var(--size-md) var(--size-lg);
  border-radius: var(--rounding);
  border: 1px solid var(--primary25);
}

#login-form input:focus {
  border: 1px solid var(--primary);
  background-color: rgba(0, 53, 148, 0.05);
}

#login-form input::placeholder {
  color: var(--on-bg25);
}

#login-form button[type="submit"] {
  padding: var(--size-md) var(--size-lg);
  border-radius: var(--rounding);
  background-color: var(--primary);
  color: var(--secondary);
  font-family: var(--title-font);
  font-weight: 600;
  text-transform: uppercase;
}

#login-form button[type="submit"]:disabled {
  opacity: 0.5;
}

#login-form button[type="submit"]:focus {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}